{% load static %}
<footer>
    <div class="icons">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-telegram"></i></a>
    </div>
    <hr />
    <div class="copyright">
      Copyright <i class="fa-solid fa-copyright"></i> 2024 All rights
      reserved
    </div>
  </footer>
</div>

<!-- JavaScript Bootstrap -->
<script src="{% static 'assets/script/bootstrap.bundle.js' %}"></script>

<!-- Custom JavaScript -->
<script src="{% static 'assets/script/script.js' %}"></script>

<!-- javascript summernote for texteditor -->
<script src="{% static 'assets/summernote/summernote.min.js' %}"></script>
<script src="{% static 'assets/summernote/summernote.js' %}"></script>
<script src="{% static 'assets/summernote/summernote-bs4.js' %}"></script>
<script src="{% static 'assets/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'assets/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'assets/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'assets/summernote/summernote-lite.js' %}"></script>
<script src="{% static '/assets/summernote/summernote-lite.min.js' %}"></script>

</body>
</html>