{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the webpage -->
    <title>Reset Password</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/logo.jpg' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Login form -->
    <div class="login container-fluid">
        <form action="" class="login-form container" method="post" id="form-reset">{% csrf_token %}
            <!-- Title for signup section -->
            <h3>Reset Password</h3>
            <div class="messages">
              {% if messages %}
              <div class="row">
                {% for message in messages %}
                <div {% if message.tags %} class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert" {% endif %}>
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <!-- Email input -->
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label
              ><span class="text-danger">*</span>
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
                required
                id="reset-email"
                name="resetemail"
              />
              <small class="text-danger" id="resetemailerror"></small>
            </div>
    
            <!-- Password input -->
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label
              ><span class="text-danger">*</span>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                required
                id="reset-password"
                name="resetpassword"
              />
              <small class="text-danger" id="resetpassworderror"></small>
            </div>
    
            <!-- Confirm Password input -->
            <div class="mb-3">
              <label for="cnfpassword" class="form-label">Confirm Password:</label
              ><span class="text-danger">*</span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                required
                id="reset-cnfpassword"
                
              />
              <small class="text-danger" id="resetcnfpassworderror"></small>
            </div>
    
            <!-- Signup button and Cancel button -->
            <div class="mb-3 forgot-pwd">
              <input type="submit" value="Reset Password" class="btn btn-success" />
              <a
                href="{% url 'loginuser' %}"
                class="btn text-light"
              >
                Login Here
              </a>
            </div>
          </form>
    </div>

    <!-- JavaScript files -->
    <script src="{% static 'assets/script/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/script/script.js' %}"></script>
  </body>
</html>